In [7]:
#1 - Leia o CSV 'Filmes'em uma variável chamada df. Digite print(df) na próxima linha veja o que aparece.

In [8]:
#2 - Quando carregamos um novo DataFrame de um CSV, queremos saber como ele se parece.
#Se for um DataFrame pequeno, você pode exibi-lo digitando print(df).
#Se for um DataFrame maior, é útil poder inspecionar alguns itens sem precisar examinar o DataFrame inteiro.
# Mostre  as 8 primeiras linhas do DataFrame df.
# Mostre algumas estatísticas para cada coluna

In [9]:
#Selecionar colunas
#3 - Crie uma variável nomes_filmes que contenha somente os nomes dos filmes
#Depois de criar a variável de o comando print(nomes_filmes)

In [10]:
#Agora, você quer comparar os filmes através de suas notas 
#4 - Crie uma variável filmes_e_notas que contenha somente dados das colunas nome e nota_imdb
#Depois de criar a variável de o comando print(filmes_e_notas)

In [11]:
#Selecionando linhas
#5 - Escreva um comando que mostre os 10 primeiros registros

In [12]:
#6 - Escreva um comando que mostre os 4 últimos registros do DataFrame

In [18]:
df2 = pd.DataFrame([
  [1, 'Parafuso de 3 polegadas', 0.5, 0.75],
  [2, 'Prego de duas polegadas', 0.10, 0.25],
  [3, 'Martelo', 3.00, 5.50],
  [4, 'Chave de fenda', 2.50, 3.00]
],
  columns=['ID do produto', 'Produto', 'Custo de fabricação', 'preço']
)
df2

In [19]:
#7 - Adiciona ao df2 a coluna margem que é a diferença entre o preço e custo de fabricação

In [20]:
#8 - Altere o nome da coluna ID do produto para ID e Produto para Descrição

In [13]:
#Leia o CSV 'olimpíadas'em uma variável chamada df3.
#Examine o DataFrame para entender o conjunto de dados

In [14]:
#9 - Escreva um comando que mostre o nome dos atletas brasileiros com mais de 30 anos e do sexo masculino que participaram
#das olimpíadas a partir de 2012

In [ ]:
#10 - Crie uma variável media_idade que contenha a média de idade dos atletas brasileiros
#Depois de criar a variável de o comando print(media_idade)

In [ ]:
#11 - Escreva um comando que mostre o nome, idade e ano de participação do atleta brasileiro mais velho
#que participou dos jogos olimpícos

In [17]:
#12 - Escreva um comando que mostre o nome, o ano e idade do atleta brasileiro mais jovem a ganhar uma medalha de ouro.

In [22]:
#Voltando ao primeiro DataFrame sobre filmes
#13 - Escreva um comando que mostre quais o generos de filmes estão disponíveis no DataFrame.
#Obs: Não é só mostrar a coluna gênero

In [1]:
#14 - Escreva um comando que apresente a média das notas dos filmes por ano.